//Fonts
$fontPrimary: 'Roboto', sans-serif;
$fontSecondary: 'Raleway', sans-serif;

//Colors
$colorPrimary: #212121;
$colorHover: #2196f3;
$colorHero: #ffffff;
$colorIconFooter: #ffffff;

//Background Colors
$bgColorPrimary: #ffffff;
$bgColorSecondary: #f5f4fa;
$bgColorHero: #2f303a;
$bgColorFooter: #2f303a;

// Portfolio - Categories Menu Buttons Color Scheme
$colorCatBtnHover: #ffffff;
$bgColorCatBtn: #f5f4fa;
$bgColorCatBtnHover: #2196f3;

//General Buttons Colors
$btnColor: #ffffff;
$btnBgColor: #2196f3;
