/* Index - Section 2 (Features) */
.features {
  @include section;
}

.features__title {
  @include visually-hidden;
}

.features__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.features__item {
  width: 270px;

  &:not(:first-child) {
    margin-left: 30px;
  }
}
.features__wrapper {
  width: 270px;

  background-color: $bgColorSecondary;

  display: flex;
  justify-content: center;
  padding: 25px 0px;
  margin-bottom: 30px;
}
.features__icon {
  display: block;
  // background-color: var(--bgColorTertiary);
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features__text {
  color: $colorSeconday;
  font-size: 14px;
  line-height: 1.71;

  text-align: left;
}
